* {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

#red-one {
    color:red;
}

#yellow-one {
    color:yellow;
}

#orange-one {
    color:orange;
}